$loadColor: #daa520;
$linkColor: #00b7ff;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $linkColor;
}

#wrapper {
  margin: 30px auto;
}

.loader {
  &,
  &:before,
  &:after {
    background: $loadColor;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
}
.loader {
  color: $loadColor;
  text-indent: -9999em;
  margin: 0 auto;
  top: 50%;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    content: "";
  }
}

.loader {
  &:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
}

.loader {
  &:after {
    left: 1.5em;
  }
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

#loadingDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#paginationLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400);
body {
  font-family: "Lato", "sans-serif";
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
  border-top: 4px solid transparent;
}

.emphasis {
  &:hover {
    border-top: 4px solid #1abc9c;
  }
}

.emphasis {
  h2 {
    margin-bottom: 0;
  }
}

span {
  &.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
  }
}

span {
  &.project-tags {
    background: #fa8072;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
  }
}

li {
  margin-bottom: 8px;
}

li {
  &:last-child {
    margin-bottom: 0px;
  }
}
